---
import { Button } from '../ui/button';
import { ClockIcon } from 'lucide-react';
---

<div
  class='px-4 py-2 border-t border-gray-800 flex items-center justify-between'
>
  <div class='text-sm text-gray-400'>Historial de comandos</div>
  <Button variant='ghost' size='icon'>
    <ClockIcon className='w-4 h-4' />
  </Button>
</div>
