<div class='flex-1 p-4 overflow-auto'>
  <div class='space-y-2'>
    <div>
      <span class='text-green-500'>invitado@terminal</span>
      <span class='text-gray-400'>:~$</span>
      <input class='bg-gray-900 text-white px-4 py-2' />
    </div>
    <!-- Resto del historial de comandos -->
  </div>
</div>
